.container-fluid{
    width: 100%;
    background-image: url("../image/login/login-bg.png");
    background-size: cover; 
    background-position: center center;
    background-repeat: repeat;
}

.member{
    padding: 0;
    border: 7px solid #79A3DC;
    text-align: center;
    border-radius: 16px;
}

.member img{
    width: 100%;
    height: 500px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom: 7px solid #79A3DC;
}